<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>1.0, © 2020 alqemyst</string>
	<key>CodaAuthorString</key>
	<string>alqemyst</string>
	<key>CodaDescriptionString</key>
	<string>Rust language syntax highlighting mode for Coda 2</string>
	<key>CFBundleIdentifier</key>
	<string>SEEMode.Rust</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Rust</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>SEEMinimumEngineVersion</key>
	<string>3.5</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2020 alqemyst</string>
</dict>
</plist>
